<mat-tab-group> 
    <br>
    <br>
    <mat-tab label="StudioClockWork"> 
        <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title class="card-title-ebike">EASY GO 3D PRINTED E-BIKE</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/EBike.png" alt="Photo of an E-BIKE">
            <mat-card-content>
              <p>
                E bike for the future which  one would be able to buy in digital form and then 3D print it themselves at home. 
                This concept was created as a hypothetical project to show the capabilities of the team at Studio Clockwork.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-button>LIKE</button> -->
              <!-- <button mat-button>SHARE</button> -->
            </mat-card-actions>
          </mat-card>
          <br>
          <br>
    </mat-tab>
    <mat-tab label="ExxonMobil"></mat-tab>
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
  </mat-tab-group>
