<mat-toolbar class="navBar">
    <img class="title_img" src="/assets/paper_boat.svg"/>
    <button mat-button class="click-btn" routerLink="/" routerLinkActive="active"> Analytics</button>
    <button mat-button class="click-btn" routerLink="/projects" routerLinkActive="active">Projects</button>
    <button mat-button class="click-btn" routerLink="/animations" routerLinkActive="active">Animations</button>
    <button mat-button class="click-btn" routerLink="/games" routerLinkActive="active">Games</button>
    <span class="example-spacer"></span>
    <button mat-button (click)="gitSrc()"><img src="/assets/github-logo.svg"/></button>
</mat-toolbar>