<mat-toolbar class="navBar">
    <img class="title_img" src="/assets/paper_boat.svg"/>
    <!-- <button mat-button class="click-btn" routerLink="/articles" routerLinkActive="active">Articles</button> -->
    <button mat-button class="click-btn" routerLink="/analytics" routerLinkActive="active"> Analytics</button>
    <button mat-button class="click-btn" routerLink="/projects" routerLinkActive="active">Projects</button>
    <button mat-button class="click-btn" routerLink="/animations" routerLinkActive="active">Animations</button>
    <!-- <button mat-button class="click-btn" routerLink="/resume" routerLinkActive="active">Resume</button> -->
    <span class="example-spacer"></span>
    <button mat-button (click)="gitSrc()"><img src="/assets/github-logo.svg"/></button>
</mat-toolbar>