.navBar{
    background: lightcoral;
    color: white;
}

.title{
    color: #000000;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .click-btn{
      left:30px;
      color: black;
  }

.title_img{
  width: 45px;
  height: 40px;
}